<ion-view view-title="123 Jones Ave">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <h1>
          <i class="ion-ios-trash"></i>
          Trash
        </h1>
        <h2>Someday</h2>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h1>
          <i class="ion-soup-can"></i>
          Recycling
        </h1>
        <h2>#rd Someday</h2>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h1>
          <i class="ion-leaf"></i>
          Brush
        </h1>
        <h2>10/12/15</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
